# Private Data Ignores
TEMP
data/john/*
data/paul/*
data/george/*
data/ringo/*
!data/john/readme.txt
!data/paul/readme.txt
!data/george/readme.txt
!data/ringo/readme.txt
data/training_data/pretrained_models 

# CMake Related file Ignores
/CMakeFiles
*.CMakeFiles
CMakeCache.txt

# Generic "Good Practice" Ignores
.probe
._checkpoint.
checkpoint
*.exe
*.dir/
/.vs
Makefile